@model eCommerce.Models.MyProfileVM.MyProfileVm
@inject eCommerce.Entities.DTOs.CurrentUserDto CurrentUser


<link rel="stylesheet" href="~/css/myProfile.css" />
<script src="~/js/myProfile/deliveryLocation.js"></script>
<div class="container">
    <h1 class="d-flex justify-content-center pb-4 pt-3">
        My profile
    </h1>
    <div class="row">
        <!-- Filter -->
        <div class="filter col col-md-auto bg-secondary pt-4 pr-5">
            <h5>
                User actions
            </h5>
            <hr style="border-color:white;" />

            <ul class="list-unstyled">
                <li class="mb-2"><a href="#" class="text-white">View Invoices</a></li>
                <li class="mb-2"><a href="#" class="text-white">Change password?</a></li>
                <li class="mb-2"><a href="#" class="text-white" id="modifyDeliveryBtn">Modify delivery adress</a></li>
                <li class="mb-2"><a href="#" class="text-white">Add new delivery adress</a></li>
                <li class="mt-3">
                    <form method="post">
                        <button type="submit" style="color:orangered;"
                                asp-controller="UserAccount" asp-action="DeleteMyAccount">Delete my account</button>
                    </form>
                </li>
            </ul>

            @if (CurrentUser.IsAdmin)
            {
               
                <h5 class="pt-1">
                    Admin actions
                </h5>
                <hr style="border-color:white;" />

                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#" class="text-white">Delete a product</a></li>
                    <li class="mb-2"><a href="#" class="text-white">Update a product</a></li>
                    <li class="mb-2"><a href="#" class="text-white">Add an administrator</a></li>
                </ul>
            }

        </div>

        <!-- Filter Window -->
        <div class="filter-window col" style="background-color: antiquewhite;">
            <div id="viewInvoices" style="display:none;">
                @if (Model.UserInvoices != null)
                {
                    @foreach (var invoice in Model.UserInvoices)
                    {
                        <hr />
                        <p class="card-text">Invoice number: @invoice.UserBuyHistoryId</p>
                        <p class="card-text">Buy date: @invoice.DateBuy</p>
                        <p class="card-text">Product name: @invoice.ProductName</p>
                        <p class="card-text">Quantity: @invoice.QuantityBuy</p>
                        <hr />
                    }
                }
            </div>

            <div id="changePassword">
                <form>
                    <div class="form-group">
                        <label class="control-label">Old Password</label>
                        <input class="form-control oldPassword" />
                        <span class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label">New Password</label>
                        <input class="form-control newPassword" />
                        <span class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Confirm New Password</label>
                        <input class="form-control confNewPassword" />
                        <span class="text-danger"></span>
                    </div>

                    <div class="form-group col-12  d-flex justify-content-center">
                        <input type="submit" value="Register" class="btn btn-primary" />
                    </div>
                </form>
            </div>
            
            <div id="modifyDelivery">
                <div class="title">
                    <h4 class="d-flex justify-content-center p-3">Modify delivery adress</h4>
                </div>

                <form>
                    <div class="row">
                        @foreach(var deliveryLocation in Model.DeliveryLocations)
                        {
                            <div class="col-12">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label asp-for="@deliveryLocation.CountryName" class="control-label"></label>
                                        <input asp-for="@deliveryLocation.CountryName" class="form-control" />
                                        <span asp-validation-for="@deliveryLocation.CountryName" class="text-danger" />
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form-group">
                                        <label asp-for="@deliveryLocation.RegionName" class="control-label"></label>
                                        <input asp-for="@deliveryLocation.RegionName" class="form-control" />
                                        <span asp-validation-for="@deliveryLocation.RegionName" class="text-danger" />
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form-group">
                                        <label asp-for="@deliveryLocation.AddressDetail" class="control-label"></label>
                                        <input asp-for="@deliveryLocation.AddressDetail" class="form-control" />
                                        <span asp-validation-for="@deliveryLocation.AddressDetail" class="text-danger" />
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-8 side-by-side form-group" style="padding-right:15px;">
                                            <div class="form-group">
                                                <label asp-for="@deliveryLocation.CityName" class="control-label"></label>
                                                <input asp-for="@deliveryLocation.CityName" class="form-control" />
                                                <span asp-validation-for="@deliveryLocation.CityName" class="text-danger" />
                                            </div>
                                        </div>

                                        <div class="col-4 side-by-side form-group">
                                            <label asp-for="@deliveryLocation.PostalCode" class="control-label"></label>
                                            <input asp-for="@deliveryLocation.PostalCode" class="form-control" />
                                            <span asp-validation-for="@deliveryLocation.PostalCode" class="text-danger" />
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-12 d-flex justify-content-center">
                                    <input type="submit" value="Save" class="btn btn-primary" id="saveBtnModityDelivery" />
                                </div>
                            </div>
                        }
                    </div>
                </form>
            </div>

            <div id="addDelivery">

            </div>

            <div id="deleteAccount">

            </div>
        </div>
    </div>

</div>