@model eCommerce.Models.CartVM.CartListVM
@inject eCommerce.Entities.DTOs.CurrentUserDto CurrentUser

<link rel="stylesheet" href="~/css/cart.css" />

<input type="hidden" id="removeFromCartUrl" data-remove-from-cart-url="@Url.Action("JsRemoveProductFromCart", "Cart")" />

<div class="container">
    <h1>Your basket</h1>

    <div id="basket-article-list">
        <div class="basket">
            <table border="0">
                <tbody>
                    <tr>
                        <th colspan="2">Article</th>
                        <th>Quantity</th>
                        <th class="float-right">Price</th>
                    </tr>
                    @for (int index = 0; index < Model.CartList.Count; index++)
                    {
                        <!-- Products -->
                        <tr class="basket-article toDelete">
                            <!-- Product Image -->
                            <td class="image">
                                <div class="stackimage-wrapper stackimage-noStack stackimage-singleImage stackimage-default">
                                    <div class="stackimage stackimage-noStack stackimage-singleImage stackimage-noStack-singleImage">
                                        <!-- sa duca la produs -->
                                        <a>
                                            <div class="placeholders">
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div>  </div>
                                            </div>
                                            <img class="card-img" alt="" src="@Model.CartList[index].ProductImage" />
                                        </a>
                                    </div>
                                    
                                </div>
                            </td>
                            <!-- Product Description -->
                            <td class="article-body rs-text">
                                <div class="title">
                                    <div><p>@Model.CartList[index].ProductName</p></div>
                                </div>
                                <!-- Buttons -->
                                <div class="sub-links">
                                    <a data-product-id="@Model.CartList[index].ProductId"
                                       class="sub-link deleteFromCart">
                                        <!--sa fie js-->
                                        Remove from cart
                                    </a>
                                </div>
                            </td>
                            <!-- Quantity -->
                            <td class="amount">
                                <p>@Model.CartList[index].QuantityBuy</p>
                            </td>
                            <!-- Price -->
                            <td class="price">
                                <div class="primary">@Model.CartList[index].ProductPrice</div>
                            </td>
                        </tr>
                        <tr class="basket-article-components">
                            <td></td>
                            <td colspan="3" class="components rs-text"></td>
                        </tr>
                    }
                    <tr>
                        <td colspan="4" class="basket-article import-informations"></td>
                    </tr>
                    <tr colspan="4" class="components">

                    </tr>
                </tbody>
                <!-- Total price area-->
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <div class="sum">
                                <div class="primary">
                                    <span class="title d-flex justify-content-end">total: @Model.TotalSum</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <div id="basket-submit" class="rs-checkout-additionals d-flex justify-content-center">
        <a asp-controller="Cart" asp-action="PlaceOrder" asp-route-deliveryLocationId="1"
           id="checkoutButton" class="btn btn-primary btn-outline-info">
            Checkout
        </a>
    </div>
</div>

