@model eCommerce.Models.ProductVM.ProductsWithValues.AllProductsVM
@inject eCommerce.Entities.DTOs.CurrentUserDto CurrentUser

<script src="~/js/products.js"></script>

<input type="hidden" id="deleteActionUrl" data-delete-action-url="@Url.Action("SoftDeleteProduct", "Admin")" />
<input type="hidden" id="updateActionUrl" data-update-action-url="@Url.Action("UpdateProduct", "Admin")" />


    <div>
        <strong>Products</strong>
    </div>

    <div class="row">
        <div class="col-md-12" >
            @foreach (var product in Model.Allproducts)
            {
                <div class="bg-white p-3 rounded mt-2">
                    <div class="row" >
                        <div class="col-md-6" >
                            <!-- Product Image-->
                            <div class="d-flex flex-column justify-content-center align-items-center icon-container mb-2 float-left">
                                <img style="width:150px; height:150px" alt="" src="https://cdn11.bigcommerce.com/s-n26aknlnlm/images/stencil/1280x1280/products/346/5620/23488050012.LEFT__95325.1576897646.jpg?c=2" />
                            </div>

                            <div class=" float-left">
                                <!-- Product Title -->
                                <div class="listing-title">
                                    <h5>@product.ProductName</h5>
                                </div>

                                <div class="d-flex flex-row">
                                    <!-- Brand name -->
                                    <div class="d-flex flex-row align-items-center ratings">
                                        <h12 class="mr-1 rating-number">Brand name</h12>
                                    </div>
                                </div>

                                <div class="" style="display:inline-block;">
                                    @foreach (var properties in product.AllPropertiesWithValues)
                                    {
                                        <p style="position:relative;">@properties.PropertyName : @properties.Value</p>
                                    }
                                    
                                </div>

                                <!-- buttons -->
                                <div>
                                    <form method="post">
                                        <button type="submit" asp-controller="Cart" asp-action="AddProductToCart"
                                                asp-route-productId="@product.ProductId"
                                                class="btn btn-primary float-right">
                                            Add to cart
                                        </button>
                                    </form>

                                    @if (CurrentUser.IsAdmin == true)
                                    {
                                        <button type="button" data-target="#modalBox" data-toggle="modal"
                                                data-product-id="@product.ProductId"
                                                class="updateBtn btn btn-primary">
                                            Update
                                        </button>

                                        <button type="button" data-product-id="@product.ProductId"
                                                class="deleteBtn btn btn-primary">
                                            Delete
                                        </button>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>



<!--modal-->
<div class="modal fade" id="modalBox" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="modalLabel">Update selected product</h4>
                <button type="button" class="close closeBtnModal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label asp-for="AdminUpdateDetails.ProductName" class="control-label"></label>
                        <input asp-for="AdminUpdateDetails.ProductName" id="productNameInput" class="form-control" />
                        <span asp-validation-for="AdminUpdateDetails.ProductName" class="text-danger"></span>
                    </div>

                    <div class="form-group insertAfterThis">
                        <label asp-for="AdminUpdateDetails.Quantity" class="control-label"></label>
                        <input asp-for="AdminUpdateDetails.Quantity" id="quantityInput" class="form-control" />
                        <span asp-validation-for="AdminUpdateDetails.Quantity" class="text-danger"></span>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary closeBtnModal">Close</button>

                        <input type="submit" value="Update product"
                               class="btn btn-primary updateBtnModal" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
